* {
    box-sizing: border-box;
    font-family: Raleway;
}


body {
    max-width: 1880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    /*variables*/
    --lightblue-color: #deebff;
    --blue-color: #0065fc;
    --grey-color-lighter: #F2F2F2;
    --grey-color-light: #d9d9d9;

    --main-font-size: 12px;
}

header, main, footer {
    width: 100%;
}

h2 {
    font-size: 22px;
}

main {
    padding-left: 70px;
    padding-right: 70px;
}

/*******************/
/**     Header    **/
/*******************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 90px;
    padding-right: 70px;
}

.logo {
    padding-bottom: 20px;
}

.logo img {
    height: auto;
    width: 70%;
}

/*******************/
/**      Menu     **/
/*******************/

.menu ul {
    display: flex;
}

.menu ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.menu a {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    position: relative;
}

.menu a:link, .menu a:active, .menu a:focus {
    text-decoration: none;
}

.menu li a:visited {
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    color: var(--blue-color);
}

.menu li a:hover::before {
    background-color:  var(--blue-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
}

#lien-activite {
    margin-left: 30px;
}

/*******************/
/**   Recherche   **/
/*******************/

.recherche h1 {
    font-size: 28px;
    font-weight: 700;
}

.search-form {
    margin-bottom: 40px;
}

.search-form p {
    font-size: 19px;
    
}

.search-box {
    /*position: relative;*/
    display: flex;
    border-radius: 10px;
    /*overflow: hidden;*/
    justify-content: space-between;
    width: 350px;
    height: 55px;
    border: 1.5px solid #F2F2F2;
    background: #fff;
}

.search-area {
    border: none;
    flex: 1;
}

.search-button {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--blue-color);
    color: #fff;
    cursor: pointer;
}
.search-button .search-button-icon {
    display: none; 
}

/*******************/
/** Icones cercle **/
/*******************/

.circle-icon {
    background-color: var(--lightblue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
}

.circle-icon i {
    color: var(--blue-color);
    font-size: 20px;
}

.search-icone i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    height: 55px;
    width: 55px;
    color: black;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info-message .fa-info {
    border: 1px solid var(--grey-color-light);
    color: var(--blue-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/*******************/
/** Stars Icones  **/
/*******************/

.star-blue i {
    color: var(--blue-color);
    font-size: 15px;
}

.star-grey i {
    color: var(--grey-color-light);
    font-size: 15px;
}

/*******************/
/**     Filter    **/
/*******************/

.filter {
    border: 2px solid var(--grey-color-lighter);
    border-radius: 50px;
    height: 55px;
    display: flex;
    align-items: center;
}

.filter-form h2 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 35px;

}

.filter-form {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.filter-block {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.filter-form p {
    font-size: 19px;
}

.filter:hover {
    background-color: var(--blue-color);
    color: #fff;
    cursor: pointer;
}

.filter span{
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.info-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*******************/
/**  Hébergements **/
/*******************/

.logements {
    display: flex;
    justify-content: space-between;
}

.hebergements {
    width: 1145px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--grey-color-lighter);
    border-radius: 10px;
}

.hebergements-title {
    margin-bottom: 20px;
}

.hebergements h1, .populaires h1, .section-activites h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.hebergements-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 50px;
}

.card-hebergement a {
    text-decoration: none;
}

.card-hebergement:hover {
    box-shadow: -4px 4px 9px 3px #c0bfbf;
    transform: translate(5px, -5px);
    transition: 250ms ease-in;
}

.card-hebergement a:link, .card-hebergement a:active, .card-hebergement a:focus {
    text-decoration: none;
}

.card-hebergement li a:visited {
    text-decoration: none;
    color: black;
}

.card-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;  
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px #dfdfdf;
    padding: 7px;
    transition: 250ms ease-out;
}

.card-body-hebergement {
    height: 85px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-card-hebergement {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.card-hebergement-title h2, .card-hebergement-description p, .card-hpopulaires-title h2, .card-hpopulaires-title p {
    margin: 0 auto;
    padding: 0;
    color: black;
}

.card-notation {
    display: flex;
    flex-direction: row;
}

.card-notation i {
    margin: 0 auto;
    padding: 0 auto;
}

.zoom-photo-card {
    object-fit: cover;
}

/*******************/
/**  Populaires   **/
/*******************/

.populaires {
    width: 560px;
    background-color: var(--grey-color-lighter);
    border-radius: 10px;
    padding: 50px;
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.populaires-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.card-body-logement a {
    text-decoration: none;
}

.card-populaires:hover {
    box-shadow: -4px 4px 9px 3px #c0bfbf;
    transform: translate(5px, -5px);
    transition: 250ms ease-in;
}

.populaires-content a:link, .populaires-content a:active, .populaires-content a:focus {
    text-decoration: none;
}

.populaires-content a:visited {
    text-decoration: none;
    color: black;
}

.card-populaires {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 450px;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px #dfdfdf;
    padding: 7px;
}

.card-body-logement {
    width: 220px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body-logement h2 {
    margin: 0px 0px 5px 0px;
}

.card-body-logement p {
    margin: 0;
    padding: 0;
}

.img-card-populaires {
    width: 165px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.zoom-photo-card-pop {
    object-fit: cover;
    width: 180px;
}

/*******************/
/**   Activités   **/
/*******************/
.section-activites {
    display: flex;
    flex-direction: column;
}

.activites-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 580px;
    width: auto;  
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px #dfdfdf;
}

.card-activites-title {
    padding-left: 20px;
}

.img-card-activites {
    height: 510px;
    width: 395px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.box-double-card{
    height: 580px;
    width: 395px;
    background-color: #0065fc;
}

.card-activites-double {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 395px;
}

/*******************/
/****** Footer *****/
/*******************/

footer {
    background-color: var(--grey-color-lighter);
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
}

.menu-footer ul {
    padding: 0;
}

.menu-footer ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.menu-footer {
 display: flex;
 flex-direction: row;
}

.liens-footer {
    margin-right: 300px;
}

/*******************/
/** Media queries **/
/*******************/

/*******************/
/**     Mobile    **/
/*******************/

@media screen and (max-width: 768px)
{
    
    body {
        width: auto;
        padding: 0;
    }

    main
    {
        padding: 0;
    }

    .recherche, .logements, .section-activites {
        padding: 0 25px;
    }

/*******************/
/** Mobile Header **/
/*******************/

    header {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 0;
    }

    .logo {
        height: auto;
        width: 100%;
        height: 100PX;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .logo img {
        height: auto;
        width: 100px;
    }

    .menu {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .menu li a::before {
        background-color:  var(--grey-color-lighter);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        content: "";
    }

    .menu li a:hover::before {
        top: auto;
        bottom: 0;
    }

    .menu ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        height: 50px;
        font-size: 18px;
    }

    .menu ul li {
        width: 50%;
        justify-content: center;
    }

    .menu ul li a{
        width: 100%;
        height: 50px;
        justify-content: center;
    }

    #lien-activite {
        margin-left: 0;
    }

    .search-box {
        width: 100%;
    }

    .search-form {
        margin: 20px 0;
    }

    .search-button {
        border-radius: 15px;
    }

    .search-button-text {
        display: none;
    }

    .search-button .search-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 45px;
    }

/*******************/
/** Mobile Filter **/
/*******************/

    .filter-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-block {
        gap: 15px;
    }

    .filter {
        min-width: 200px;
    }

    .info-message {
        align-items: flex-start;
    }

    .info-message p {
        width: 100%;
        font-size: 14px;
        margin: 0px;
    }

    .info-message .fa-info {
       width: 20px;
       height: 20px;
       font-size: 12px;
    }

/**********************/
/** Mobile logements **/
/**********************/

    .logements {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
    }

    .hebergements {
        width: 100%;
        margin-right: 0px;
        margin-top: 20px;
        padding: 25px 10px 25px 10px;
        background-color: #fff;
    }

    .hebergements h1, .populaires h1 {
        padding: 0 20px;
        font-size: 20px;
    }

    .hebergements span {
        padding-left: 20px;
    }

    .hebergements-content {
        justify-content: center;
        padding: 0 15px;
        gap: 10px;
        margin-bottom: 10px;
    }

    .card-hebergement {
        width: auto;
        padding: 4px;
    }

    .card-body-hebergement {
        height: 80px;
    }

    .card-body-hebergement h2, .card-body-hebergement p, .card-body-logement h2, .card-body-logement p {
        font-size: 15px;
    }

    .img-card-hebergement {
        height: 100px;
    }

    .populaires {
        width: 100%;
        order: 0;
        margin-right: 0px;
        margin-top: 20px;
        padding: 25px 10px 25px 10px;
        border-radius: 0%;
    }

    .populaires-content {
        align-items: center;
        padding: 0 15px;
        gap: 10px;
    }

    .card-populaires {
        margin-right: 0;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 4px;
    }

    .card-body-logement {
        width: 200px;
        height: 80px;
    }

    .img-card-populaires {
        width: 120px;
        height: 128px;
    }

    .section-activites {
        padding: 25px 10px 25px 10px;
    }

/*******************/
/** Mobile Footer **/
/*******************/

    .menu-footer {
        flex-direction: column;
    }

    .liens-footer {
        margin: 0;
        margin-right: 0px;
    }
}

/*******************/
/**    Tablette   **/
/*******************/

/*********************/
/** Tablette Filter **/
/*********************/
@media screen and (max-width: 992px)
{
    .filter-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .logements {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        order: 0;
    }

/*********************/
/** Tablette Footer **/
/*********************/
    .liens-footer {
        margin-right: 50px;
    }
}


